/* google fonts */




.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.about-me-header {
  text-align: center;
  margin-bottom: 20px;
}

.greeting {
  font-weight: bold;
  margin-right: 10px;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.about-me-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.about-me-avatar::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #aaf1ff;
  border-radius: 50%;
  transform: scale(0);
  z-index: -1;
  animation: pulse 2s infinite;
}

@keyframes pulse { /* animation for avatar */
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.about-me-text {
  font-size: 18px;
  color: #555555;
  text-align: center;
}

.about-me-text ul {
  list-style-type: none;
  padding: 0;
}

.about-me-text li {
  margin-bottom: 15px;
  padding-left: 20px;
  position: relative;
}

.about-me-text span {
  display: block;
}

.about-me-text span[aria-label='Spanish'] { 
  font-weight: bold;
  margin-bottom: 5px;
}

.about-me-text span[aria-label='English'],
.about-me-text span[aria-label='Vietnamese'] {
  color: #777777;
}

.about-me-text span[aria-label='Spanish']::before {
  content: '🇪🇸';
  margin-right: 5px;
}

.about-me-text span[aria-label='English']::before {
  content: '🇺🇸';
  margin-right: 5px;
}

.about-me-text span[aria-label='Vietnamese']::before {
  content: '🇻🇳';
  margin-right: 5px;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .about-me-avatar {
    width: 120px;
    height: 120px;
  }

  .about-me-text {
    font-size: 16px;
  }
}
