@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  --color-background: #ECF8F9;
  --color-primary: #068DA9;
  --color-secondary: #7E1717;
  --color-accent: #E55807;
  --font-family-cursive: 'Caveat', cursive;
  --font-family-oswald: 'Oswald', sans-serif;
}

.navbar {
  background-color: var(--color-background);
  padding: 20px;
}

.navbar-toggle {
  display: none;
}

.toggle-icon {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--color-primary);
  margin-bottom: 5px;
  transition: transform 0.3s;
}

.show .toggle-icon:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.show .toggle-icon:nth-child(2) {
  opacity: 0;
}

.show .toggle-icon:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-collapse {
  justify-content: center;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin: 10px;
}

.nav-link {
  color: var(--color-primary);
  text-decoration: none;
  font-family: var(--font-family-oswald);
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--color-secondary);
}

.active {
  color: var(--color-accent);
}

@media screen and (max-width: 768px) {
  .navbar-toggle {
    display: block;
    cursor: pointer;
  }
  
  .navbar-nav {
    display: none;
  }
  
  .show .navbar-nav {
    display: block;
  }
}
