/* project.css */
.project {
    margin-bottom: 20px;
  }
  
  .project img {
    max-width: 100%;
  }
  
  .project h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .project a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
  }
  
  .project a:hover {
    text-decoration: underline;
  }
  